body {
  font-family: Arial;
  padding: 20px;
}

.config {
  display: grid;
  grid-template-columns: repeat(3, 200px);
  gap: 10px;
}

table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
}

td, th {
  border: 1px solid #333;
  padding: 6px;
  text-align: center;
}

tr.dia {
  border-top: 3px solid black;
}
